
{% extends "base.html" %}
{% block content %}

	<!-- Content-->
	<div class="md-content">
		<div class="consult-404">
			<div class="md-tb">
				<div class="md-tb__cell">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 offset-0 offset-sm-0 offset-md-0 offset-lg-1 ">
								<div class="consult-404__content"><img src="../static/img/404.jpg" alt="">
									<h1>404</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End / Content-->

{% endblock %}