<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Fonts-->
    <link rel="stylesheet" type="text/css" href="../static/fonts/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/fonts/themify-icons/themify-icons.css">
    <!-- Vendors-->
    <link rel="stylesheet" type="text/css" href="../static/vendors/bootstrap4/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="../static/vendors/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="../static/vendors/owl.carousel/owl.carousel.css">
    <!--<link rel="stylesheet" type="text/css" href="../../static/vendors/_jquery/jquery.min.css">-->
    <!-- App & fonts-->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&amp;amp;subset=latin-ext">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <meta name="author" content="Peng Tang">
</head>


<body>
    <div class="page-wrap">

        <!-- header -->

        {% block set_variable %}{% endblock %}

        {% if active_menu == "home" %}
            <header class="header header__style-02">
        {% else %}
            <header class="header">
        {% endif %}


            <div class="container">
                <div class="header__logo"><a href="/"><img src="../../static/img/logo.png" alt=""/></a></div>
                <div class="header__toogleGroup">
                    <div class="header__chooseLanguage">

                        <!-- dropdown -->
                        <div class="dropdown" data-init="dropdown"><a class="dropdown__toggle" href="javascript:void(0)">EN
                            <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                            <div class="dropdown__content" data-position="right">
                                <ul class="list-style-none">
                                    <li><a href="#">EN</a></li>
                                    <li><a href="#">DE</a></li>
                                    <li><a href="#">VI</a></li>
                                </ul>
                            </div>
                        </div><!-- End / dropdown -->

                    </div>
                    <div class="search-form">
                        <div class="search-form__toggle"><i class="ti-search"></i></div>
                        <div class="search-form__form">

                            <!-- form-search -->
                            <div class="form-search">
                                <form>
                                    <input class="form-control" type="text"
                                           placeholder="Hit enter to search or ESC to close"/>
                                </form>
                            </div><!-- End / form-search -->

                        </div>
                    </div>
                </div>

                <!-- consult-nav -->
                <nav class="consult-nav">

                    <!-- consult-menu -->
                    <ul class="consult-menu">

                        <!--<li class="current-menu-item"><a href="/">HOME</a></li>-->
                        <li id="home"><a href="/">HOME</a></li>

                        <li id="team_resources"><a href="/team_resources">Resources</a> <!-- TODO: Add a children menu -->
                        </li>

                        <li id="team_members" class="menu-item-has-children"><a href="/team_members">MEMBERS</a>
                            <ul class="sub-menu">
                                <li><a href="comming-soon.html">Managers</a></li>
                                <li><a href="404.html">Data Scientists</a></li>
                                <li><a href="typography.html">Data Engineers</a></li>
                                <li><a href="typography2.html">QA Engineers</a></li>
                                <li><a href="typography3.html">DevOps Engineers</a></li>
                                <li><a href="typography4.html">Team/Project Management</a></li>
                            </ul>


                        <li class="menu-item-has-children"><a href="/team_projects">Projects</a>
                            <ul class="sub-menu">
                                <li><a href="project-detail.html">Project detail</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item-has-children"><a href="/blogs">blog</a></li>

                        <li><a href="/contact">contact</a></li>

                    </ul><!-- consult-menu -->

                    <div class="navbar-toggle"><span></span><span></span><span></span></div>
                </nav><!-- End / consult-nav -->

            </div>
        </header><!-- End / header -->


        <!-- Content -->

        <!-- child template for non-home page -->
        {% block content %}{% endblock %}

        <!-- errors -->
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}

        <!-- End / Content-->


        <!-- footer -->
        <footer class="footer">
            <div class="footer__main">
                <div class="row row-eq-height">
                    <div class="col-8 col-sm-7 col-md-9 col-lg-3 ">
                        <div class="footer__item"><a class="consult_logo" href="#"><img src="../../static/img/logo.png"
                                                                                        alt=""/></a>
                            <p>Applied Analytics Group, the professional data & software solution in DST</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                        <div class="footer__item">

                            <!-- widget-text__widget -->
                            <section class="widget-text__widget widget">
                                <div class="widget-text__content">
                                    <ul>
                                        <li><a href="#">Term of Services </a></li>
                                        <li><a href="#">Privacy Policy </a></li>
                                        <li><a href="#">Sitemap </a></li>
                                        <li><a href="#">Help</a></li>
                                    </ul>
                                </div>
                            </section><!-- End / widget-text__widget -->

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
                        <div class="footer__item">

                            <!-- widget-text__widget -->
                            <section class="widget-text__widget widget">
                                <div class="widget-text__content">
                                    <ul>
                                        <li><a href="#">How It Work </a></li>
                                        <li><a href="#">Carrier </a></li>
                                        <li><a href="#">Pricing </a></li>
                                        <li><a href="#">Support</a></li>
                                    </ul>
                                </div>
                            </section><!-- End / widget-text__widget -->

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2  consult_backToTop">
                        <div class="footer__item"><a href="#" id="back-to-top"> <i class="fa fa-angle-up"
                                                                                   aria-hidden="true"> </i><span>Back To Top</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">2017 &copy; Copyright AAG All rights Reserved.</div>
        </footer><!-- End / footer -->

    </div>

    <!-- Vendors-->
    <script type="text/javascript" src="{{url_for('static', filename='vendors/jquery/jquery.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/imagesloaded/imagesloaded.pkgd.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/isotope-layout/isotope.pkgd.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/jquery.countdown/jquery.countdown.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/jquery.countTo/jquery.countTo.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/jquery.countUp/jquery.countup.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/jquery.matchHeight/jquery.matchHeight.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/magnific-popup/jquery.magnific-popup.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/masonry-layout/masonry.pkgd.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/owl.carousel/owl.carousel.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/jquery.waypoints/jquery.waypoints.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/menu/menu.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendors/smoothscroll/SmoothScroll.min.js')}}"></script>
    <!-- App-->
    <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>


    <!-- Choose which tag should be active/highlighted -->
    <script type="text/javascript">
        $(document).ready(function() {
            // get current URL path and assign 'current-menu-item' class
            $("#{{ active_menu }}").addClass('current-menu-item');
        })
    </script>

</body>

</html>