{% set active_menu = "team_members" %}

{% extends "base.html" %}
{% block content %}

<section class="md-section">
    <div class="container">

        <div class="layout-blog sidebar-left">
            <div class="layout-blog__content">

                <!--  -->
                <div class="post-01__style-02 md-text-center">

                        <h2 align="center">Maryssa Metheny</h2>
                        <h3>Biography</h3>
                        <p>
                            Maryssa Metheny is a Data Scientist on the Prototyping Team within DST’s Applied Analytics Group.
                            During the three years she’s been with DST, Maryssa has contributed to the development of both
                            client engagements and products, in both the Financial Services and Health Care sectors.
                            Prior to joining DST, Maryssa completed a PhD in Applied Mathematics from
                            Wichita State University and a BS in both Business Administration (emphasis in Finance)
                            and Mathematics from Truman State University.  Her dissertation related to work with
                            covariance structures of log-Gaussian stochastic vector processes, which can be used in
                            the study of stock market behaviors.  Also, she taught a variety of mathematics and statistics
                            courses during her tenure at WSU.    She enjoys employing various mathematical and statistical
                            models to solve both client specific and industry wide problems.
                        </p>

                        <h3>Projects</h3>

                        <p>
                            Risk and Compliance Intelligence (RCI) Risk Profile,
                            RCI AML and SVI Alerts, Advisor Practice Analysis, AWD Workforce
                            Optimization, Argus Exploratory Analysis Engagement, Distribution
                            Solutions’ Prospect Opportunity Score, Marketshare, 5500, Health Plan
                            Optimizer, various one-off client engagements
                        </p>

                        <h3>Skill Sets</h3>

                        <p>
                            SQL, Python, R, GreenPlum, Microsoft Office, SPSS Modeler, Enterprise Optimizer
                        </p>

                </div><!-- End /  -->
            </div>

            <aside class="layout-blog__sidebar">
                <section class="widget-text__widget widget-text__style-02 widget">
                    <div class="widget-text__content">

                        <img width="296" height="430" class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                             srcset="{{url_for('static', filename='img/team_members/Maryssa_Metheny.jpg')}}" />

                    </div>
                </section><!-- End / widget-text__widget -->
            </aside>

        </div>
    </div>

</section>


{% endblock %}
