{% set active_menu = "team_members" %}

{% extends "base.html" %}
{% block content %}



<section class="md-section">
    <div class="container">

        <div class="layout-blog sidebar-left">
            <div class="layout-blog__content">

                <!--  -->
                <div class="post-01__style-02 md-text-center">

                    <h2>Sangita Sahoo</h2>

                    <h3>Biography</h3>
                    <p>
                        Sangita is a Sr. QA Engineer with DST’s Applied Analytics Group. She has a Strong
                        QA background for over 10 years, and is still prevalent in that area.Before DST,
                        she worked in a Data Conversion Project for Computer Science Corporation at
                        Overland Park, KS as a Sr. Quality Analyst for over 2 years. She has a high
                        aptitude for Mathematics, calculations and strong niche for Quality and a good
                        advocate of Customer. She is also a strong believer of “If you can build it, we
                        can test it”. She is excellent at playing with data and the complete data flow
                        validation of complex algorithms, programs and calculations developed by Data
                        Scientists, ETL Engineers and Data Engineers at Applied Analytics Group.
                    </p>

                    <h3>Projects</h3>

                    <ul style="font-size: medium">
                        <li><p>
                            Retirement Intelligence- Wells Fargo Phase I, Wells Fargo Phase II/Outcome Optimizer, Lincoln Financial Group
                        </li></p>
                        <li><p>
                            Risk and Compliance Intelligence- Infractions Matching, Risk profile, AML tests
                        </li></p>
                        <li><p>
                            Distribution Solutions- Market Share, Advisor Segmentation, Advisor Practice Analysis, Form 5500.
                        </li></p>
                    </ul>


                    <h3>Skill Sets</h3>

                    <p>
                        Quality Assurance,
                        SQL,
                        Python,
                        ETL Testing,
                        Automation
                    </p>
                </div>
            </div> <!-- End /  -->


        <aside class="layout-blog__sidebar">
            <section class="widget-text__widget widget-text__style-02 widget">
                <div class="widget-text__content">

                    <img width="296" height="730" class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                         srcset="{{url_for('static', filename='img/team_members/Sangita_Sahoo.jpg')}}" />

                </div>
            </section><!-- End / widget-text__widget -->
        </aside>

        </div>
    </div>
</section>


{% endblock %}
