{% extends "base.html" %}
{% block content %}

	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-2">
					<div class="panel-group" id="panel-230930">

						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" href="#">Managers</a>
							</div>

						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" href="#">Data Science</a>
							</div>
							<div id="panel-element-52057" class="panel">
								<div class="panel-body">

								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" href="#">Data Engineering</a>
							</div>
							<div id="panel-element-170683" class="panel">
								<div class="panel-body">

								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" href="#">QA Engineering</a>
							</div>
							<div id="panel-element-170685" class="panel">
								<div class="panel-body">

								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" href="#">DevOps</a>
							</div>
							<div id="panel-element-170587" class="panel">
								<div class="panel-body">

								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">
								 <a class="panel-title" href="#">Team/Project Management</a>
							</div>
							<div id="panel-element-170686" class="panel">
								<div class="panel-body">

								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-md-10">
					<p>
						<strong>AAG</strong> members are here!
					</p>

				</div>

			</div>
		</div>
	</div>





{% endblock %}
