{% set active_menu = "team_members" %}

{% extends "base.html" %}



{% block content %}
	<!-- Content-->
	<div class="md-content">

		<!-- Section -->
		<section class="md-section">
			<div class="container">
					<ul class="navbar-left">
						<li><a href="#">Managers</a>
						<li><a href="#">Data Scientists</a></li>
						<li><a href="#">Data Engineers</a></li>
						<li><a href="#">QA Engineers</a></li>
						<li><a href="#">DevOps Engineers</a></li>
						<li><a href="#">Team/Project Management</a></li>
					</ul>
			</div>
		</section>
		<!-- End / Section -->

	</div>
	<!-- End / Content-->



{% endblock %}