{% set active_menu = "home" %}


{% extends "base.html" %}

{% block set_variable %}{% endblock %} <!-- Just to make the variables to be visible to father template-->

{% block content %}

			<!-- Content-->
			<div class="md-content">

				<!-- slider -->
				<div class="slider">

					<!-- carousel__element owl-carousel -->
					<div class="carousel__element owl-carousel" data-options='{"items":1,"loop":true,"dots":false,"nav":false,"margin":0, "autoplay": true, "autoplayTimeout": 3000}'>
						<div class="slider__item" style="background-image: url('../../static/img/slider.jpg');">
							<div class="md-tb">
								<div class="md-tb__cell">
									<div class="slider__content">
										<div class="container">
											<h2>We are data wizards at DST</h2>
											<p>It has been approved by numerous teams and organizations within DST</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--<div class="slider__item" style="background-image: url('https://picsum.photos/1920/1080');">-->
							<!--<div class="md-tb">-->
								<!--<div class="md-tb__cell">-->
									<!--<div class="slider__content">-->
										<!--<div class="container">-->
											<!--<h2>We create the trend</h2>-->
											<!--<p>Curabitur elementum urna augue, eu porta purus gravida in. Cras consectetur, lorem a cursus vestibulum, ligula purus iaculis nulla, in dignissim risus turpis id justo. Sed eleifend ante et ligula elei</p>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					</div><!-- End / carousel__element owl-carousel -->

				</div><!-- End / slider -->

				<!-- Service-->

				<!-- Section -->
				<section class="md-section" style="background-color:#f7f7f7;padding:0;">
					<div class="container">
						<div class="textbox-group">
							<div class="row">
								<div class="col-md-4 col-lg-4 ">

									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href="#"><img src="../../static/img/home/1.jpg" alt=""/></a></div>
										<div class="textbox__body">
											<h2 class="textbox__title"><a href="#">AAG Team Outing</a></h2>
											<div class="textbox__description">AAG team outing at Main Event!</div>
										</div>
									</div><!-- End / textbox -->

								</div>
								<div class="col-md-4 col-lg-4 ">

									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href="#"><img src="../../static/img/home/2.jpg" alt=""/></a></div>
										<div class="textbox__body">
											<h2 class="textbox__title"><a href="#">Big Data Summit</a></h2>
											<div class="textbox__description">AAG getting involved in KC big data summit</div>
										</div>
									</div><!-- End / textbox -->

								</div>
								<div class="col-md-4 col-lg-4 ">

									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href="#"><img src="../../static/img/home/3.jpg" alt=""/></a></div>
										<div class="textbox__body">
											<h2 class="textbox__title"><a href="#">AAG Team Outing</a></h2>
											<div class="textbox__description">Women power!</div>
										</div>
									</div><!-- End / textbox -->

								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->

				<!-- What’s Client Say ?-->

				<!-- Section -->
				<section class="md-section" style="padding-bottom:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">

								<!-- title-01 -->
								<div class="title-01" style="margin-bottom:50px;">
									<h2 class="title-01__title">What’s Client Say?</h2>
								</div><!-- End / title-01 -->

							</div>
						</div>
						<div class="consult-slide">

							<!-- carousel__element owl-carousel -->
							<div class="carousel__element owl-carousel" data-options='{"loop":true,"dots":true,"nav":false,"margin":30,"responsive":{"0":{"items":1},"992":{"items":2}}}'>

								<!-- testimonial -->
								<div class="testimonial">
									<div class="testimonial__info"><a class="testimonial__avatar" href="#"><img src="../../static/img/avatars/avatar-01.jpg" alt=""/></a>
										<h5 class="testimonial__name">Retirement</h5><span class="testimonial__position">Support</span>
									</div>
									<div class="testimonial__content">
										<div class="testimonial__text">"We have done a project with AAG, which is AMAZING! They delivered the desired product before deadline with great quality"</div>
									</div>
								</div><!-- End / testimonial -->


								<!-- testimonial -->
								<div class="testimonial">
									<div class="testimonial__info"><a class="testimonial__avatar" href="#"><img src="../../static/img/avatars/avatar-02.jpg" alt=""/></a>
										<h5 class="testimonial__name">RCI</h5><span class="testimonial__position">CEO &amp; Founder</span>
									</div>
									<div class="testimonial__content">
										<div class="testimonial__text">"We have done a project with AAG, which is GREAT! They delivered the desired product before deadline with great quality"</div>
									</div>
								</div><!-- End / testimonial -->


								<!-- testimonial -->
								<div class="testimonial">
									<div class="testimonial__info"><a class="testimonial__avatar" href="#"><img src="../../static/img/avatars/1.jpg" alt=""/></a>
										<h5 class="testimonial__name">Distribution</h5><span class="testimonial__position">Designer</span>
									</div>
									<div class="testimonial__content">
										<div class="testimonial__text">"We have done a project with AAG, which is PHENOMENAL! They delivered the desired product before deadline with great quality"</div>
									</div>
								</div><!-- End / testimonial -->

							</div><!-- End / carousel__element owl-carousel -->

						</div>
					</div>
				</section>
				<!-- End / Section -->

				<!-- Contact us-->

				<!-- Section -->
				<section class="md-section md-skin-dark js-consult-form" style="background-image:url(&quot;../../static/img/backgrounds/1.jpg&quot;);">
					<div class="md-overlay"></div>
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">

								<!-- title-01 -->
								<div class="title-01 title-01__style-02">
									<h2 class="title-01__title">Contact With Us via Email</h2>
									<div>aag_team@dstsystems.com</div>
								</div><!-- End / title-01 -->

							</div>
						</div>

						<!-- form-01 -->
						<div class="form-01 consult-form js-consult-form__content">
							<h2 class="form-01__title">Give Us Your Feedback</h2>
							<form class="form-01__form">
								<div class="form__item form__item--03">
									<input type="text" name="name" placeholder="Your name"/>
								</div>
								<div class="form__item form__item--03">
									<input type="text" name="phone" placeholder="Your Email"/>
								</div>
								<div class="form__item form__item--03">
									<input type="email" name="email" placeholder="Your Email"/>
								</div>
								<div class="form__item">
									<textarea rows="3" name="Your message" placeholder="Your message"></textarea>
								</div>
								<div class="form__button"><a class="btn btn-primary btn-w180" href="#">send message</a>
								</div>
							</form>
						</div><!-- End / form-01 -->

					</div>
				</section>
				<!-- End / Section -->


				<!-- Empty Section -->
				<section class="row"></section>
				<!-- End / Section -->




			</div>
			<!-- End / Content-->


{% endblock %}