{% extends "base.html" %}
{% block content %}

    <div class="row">

      <div class="col-md-2">
        <ul class="nav nav-stacked nav-pills">
          <li class="active">
            <a href="/team_resources/onboarding">Onboarding Doc</a>
          </li>
          <li>
            <a href="#">AAG_Calendar</a>
          </li>
          <li>
            <a href="#">Request of Access</a>
          </li>
          <li>
            <a href="#">JIRA</a>
          </li>
          <li>
            <a href="#">Project plan</a>
          </li>
          <li>
            <a href="#">Team Member Availability</a>
          </li>
          <li>
            <a href="#">Innovation Lab</a>
          </li>
        </ul>
      </div>


      {% block subcontent %}{% endblock %}

    </div>



{% endblock %}